.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2vmin;
  max-width: 80vw;
}

.itemTile {
  background-color: bisque;
  width: auto;
  padding: 2vmin;
}

.itemImg {
}

.imageContainer {
  overflow: hidden;
  height: 30vh;
  width: 20vw;
}

.right {
  width: 80vw;
}

.left {
  width: 15vw;
}
