$soft-black: rgba(0, 0, 0, 0.85);
$off-white: #faf9f6;
$clear: rgba(0, 0, 0, 0);

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2vmin;
  max-width: 100%;
  height: 70vh;
}

.noPadding {
  padding: 0;
}
.itemTile {
  justify-content: space-between;
  box-sizing: border-box;
  height: 40vh;
  width: auto;
  padding: 2vmin;

  text-align: center;
}

.buttonDiv {
  margin-top: 1vh;
}

.imageContainer {
  justify-content: space-around;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 1vh;
}

.span {
  justify-content: start;
  width: 90%;
  padding: 2vh 0 0 0;

  select {
    margin-left: min(1rem, 2vw);
    padding: 1vmin;

    border: none;
    background-color: $clear;
  }
}

.simpleBar {
  height: 80vh;
  width: 100%;
  overflow: auto;
}

@media only screen and (max-width: 690px) {
  .itemTile {
    max-height: auto;
  }
}
