$soft-black: rgba(0, 0, 0, 0.85);
$off-white: #faf9f6;

.simpleBar {
  height: 82vh;
  width: 100%;
  overflow: auto;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2vmin;
  max-width: 100%;
}

.itemTile {
  justify-content: space-between;
  box-sizing: border-box;
  height: 40vh;
  width: auto;
  padding: 2vmin;

  text-align: center;

  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    border-bottom: 2px solid $soft-black;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  }
}

.buttonDiv {
  margin-top: 1vh;
}

.itemImg {
  max-width: 100%;
  max-height: 60%;
}

.imageContainer {
  justify-content: space-around;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 1vh;
}

.right {
  width: 80vw;
}

.left {
  width: 15vw;
}
