.app {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/MegaLo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  padding: 1vh 1vw;

  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 0 black;

  span {
    font-size: clamp(1.5rem, 4vmin, 1.6rem);
    font-family: "Courier New", Courier, monospace;
  }

  ul {
    justify-content: space-around;

    li {
      margin-right: 1vw;
    }
  }
}
